@tailwind base;
@tailwind components;
@tailwind utilities;
/* Oculta la scrollbar en todos los navegadores */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
